<%= form_for [@repository, item_file], :html => {:id => "item_file_form"} do |form| %>
  <% if item_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item_file.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :item_file_name %>
  </div>

  <div class="field">
    <%= form.label :source_file %>
    <%= form.file_field :source_file, id: :item_file_source_file %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<div id="repository" data-repository-id="<%= @repository._id %>">
</div>
